<h1>Register</h1>
<hr>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-horizontal" action="{{ 'usersRegister' | alias }}" method="POST">
            <fieldset>
                <include href="common/views/partials/csrf.html" />
                
                <div class="form-group {{ @formErrors['username'] ? 'has-error' : '' }}">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input class="form-control" id="inputUsername" placeholder="Username" type="text" name="username" value="{{ @POST.username }}">
                    </div>
                    <check if="{{ @formErrors['username'] }}">
                        <label for="inputUsername" class="control-label">{{ @formErrors['username'] }}</label>
                    </check>
                </div>

                <include href="{{ @THEME . '/views/users/partials/form.html' }}" />

                <div class="form-group {{ @formErrors['passwordConfirm'] ? 'has-error' : '' }}">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-ok"></span>
                        </span>
                        <input class="form-control" id="inputPasswordConfirm" placeholder="Confirm Password" type="password" name="passwordConfirm">
                    </div>
                    <check if="{{ @formErrors['passwordConfirm'] }}">
                        <label for="inputPasswordConfirm" class="control-label">{{ @formErrors['passwordConfirm'] }}</label>
                    </check>
                </div>

                <div class="form-group text-align-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </div>

            </fieldset>
        </form>
    </div>
</div>
