<h1>User {{ @user->username }}</h1>
<p>
    <b>Points:</b> {{ number_format(@user->points, 1) }}
    <br>
    <b>Problems Solved:</b> {{ @solvedCount }}
    <br>
    <b>Rank:</b> #{{ @userRank }} out of {{ @userCount }} users
    <br>
</p>

<p>
    <b>Problems:</b>
    <ul>
        <repeat group="{{ @problemsAttempted }}" value="{{ @attempt }}">
            <li>
                <a href="{{ 'problemsShow', 'slug=' . rawurlencode(@attempt['problem_slug']) | alias }}">{{ @attempt['problem_name'] }}</a>
                &nbsp;
                (<a href="{{ 'submissionsShow', 'id=' . rawurlencode(@attempt['best_submission_id']) | alias }}">{{ number_format(@attempt['best_submission_points'], 1) }} / {{ number_format(@attempt['problem_points'], 1) }}</a>)
            </li>
        </repeat>
    </ul>
</p>
