<div class="row">
    <div class="col-md-10 left-card" id="problem-body">
        {{ (new Parsedown())->text(@problem->body) }}
    </div>
    <div class="col-md-2 right-card">

        <a href="{{ 'problemsSubmit', 'slug=' . rawurlencode(@problem->slug) | alias }}" class="btn btn-primary btn-lg btn-block">Submit!</a>

        <hr class="dashed">

        <a href="{{ 'problemsAllSubmissions', 'slug=' . rawurlencode(@problem->slug) | alias }}">All Submissions</a>
        <br>
        <a href="{{ 'problemsBestSubmissions', 'slug=' . rawurlencode(@problem->slug) | alias }}">Best Submissions</a>
        <br>
        <check if="{{ @SESSION.user }}">
            <a href="{{ 'problemsYourSubmissions', 'slug=' . rawurlencode(@problem->slug) | alias }}">Your Submissions</a>
        </check>

        <hr class="dashed">

        <p><span class="glyphicon glyphicon-time"></span>{{ @problem->time_limit }} sec</p>
    </div>
</div>
