<div class="row">
    <div class="col-md-10 left-card" id="problem-body">
        {{ @MDPARSER->text(@problem->body) }}
    </div>
    <div class="col-md-2 right-card">

        <p><a href="{{ 'problemsSubmit', 'slug=' . rawurlencode(@problem->slug) | alias }}" class="btn btn-primary btn-lg btn-block">Submit!</a></p>

        <hr class="dashed">

        <p>
            <a href="{{ 'problemsAllSubmissions', 'slug=' . rawurlencode(@problem->slug) | alias }}">All Submissions</a>
            <br>
            <a href="{{ 'problemsBestSubmissions', 'slug=' . rawurlencode(@problem->slug) | alias }}">Best Submissions</a>
            <br>
            <check if="{{ @SESSION.user }}">
                <a href="{{ 'problemsYourSubmissions', 'slug=' . rawurlencode(@problem->slug) | alias }}">Your Submissions</a>
            </check>
        </p>

        <p>
            <strong>Points:</strong> {{ number_format(@problem->points, 1) }}
            <br>
            <strong>Time Limit:</strong> {{ number_format(@problem->time_limit, 1) }} sec
            <br>
            <strong>Memory Limit:</strong> {{ number_format(@problem->memory_limit / 1024, 1) }} MB
        </p>
    </div>
</div>
