<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="<?php echo $ENCODING; ?>" />
		<base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />
		<title>{{ @title }} - Skirmish Online Judge</title>
	</head>
	<body>
		<div class="navbar">
			<b>skirmish online judge</b>&nbsp;|&nbsp;
			<a href="#">home</a>
			<a href="#">problems</a>
			<a href="#">leaderboard</a>
		</div>
		<include href="{{ @content }}" />
		<p class="stats"><code>{{ Base::instance()->format('Page rendered in {0} ms using {1} kb', round(1e3*(microtime(TRUE)-$TIME), 2), round(memory_get_usage(TRUE)/1e3, 1)); }}</code></p>
	</body>
</html>
