<!DOCTYPE html>
<html>
	<head>
		<meta charset=UTF-8>
		<title>{{ @title }} - Skirmish Online Judge</title>

		<check if="{{ @loadKatex }}">
			<link rel="stylesheet" href="{{ @BASE }}/ui/css/katex.min.css">
			<script src="{{ @BASE }}/ui/js/katex.min.js"></script>
			<script src="{{ @BASE }}/ui/js/auto-render.min.js"></script>
		</check>
	</head>
	<body>
		<div class="navbar">
			<b>skirmish online judge</b> :::
			<a href="/">home</a>
			<a href="/problems">problems</a>
			<a href="{{ (isset(@problem) ? ('/submit?problem-slug='.@problem->slug) : '/submit') }}">submit</a>
			<a href="/leaderboard">leaderboard</a>
			<check if="{{ !isset(@SESSION.user) }}">
				<true>
					<a href="/login">login</a>
					<a href="/register">register</a>
				</true>
				<false>
					<a href="/logout">logout</a>
				</false>
			</check>
		</div>

		<include href="{{ @content }}" />

		<p class="stats"><code>{{ Base::instance()->format('Page rendered in {0} ms using {1} kb', round(1e3*(microtime(TRUE)-$TIME), 2), round(memory_get_usage(TRUE)/1e3, 1)); }}</code></p>

		<check if="{{ loadKatex }}">
			<script>
				renderMathInElement(document.body, {
					"delimiters": [
						{left: "$$$", right: "$$$", display: true},
						{left: "$", right: "$", display: false}
					]
				});
			</script>
		</check>
	</body>
</html>
