<!DOCTYPE html>
<html>
	<head>
		<meta charset=UTF-8>
		<title>{{ @title }} - Skirmish Online Judge</title>

		<repeat group="{{ @headPartials }}" value="{{ @partial }}">
			<include href="{{ @partial }}" />
		</repeat>
	</head>
	<body>
		<div class="navbar">
			<b>skirmish online judge</b> :::
			<a href="/">home</a>
			<a href="/problems">problems</a>
			<a href="{{ (isset(@problem) ? ('/submit?problem-slug='.@problem->slug) : '/submit') }}">submit</a>
			<a href="/leaderboard">leaderboard</a>
			<check if="{{ !isset(@SESSION.user) }}">
				<true>
					<a href="/login">login</a>
					<a href="/register">register</a>
				</true>
				<false>
					<a href="/logout">logout</a>
				</false>
			</check>
		</div>

		<check if="{{ isset(@content) }}">
			<include href="{{ @content }}" />
		</check>

		<p class="stats"><code>{{ Base::instance()->format('Page rendered in {0} ms using {1} kb', round(1e3*(microtime(TRUE)-$TIME), 2), round(memory_get_usage(TRUE)/1e3, 1)); }}</code></p>

		<repeat group="{{ @bodyPartials }}" value="{{ @partial }}">
			<include href="{{ @partial }}" />
		</repeat>
	</body>
</html>
