html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-size: 1.5rem;
}

.container > .navbar {
    margin-top: 20px;
    margin-bottom: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 20px;
}

/* Cards for columns in problems.show. */
.left-card {
}
.right-card {
    padding-top: 20px;
}

/* Gives the horizontal rule a dashing look. */
hr.dashed {
    border-top: 1px dashed #ccc;
}

/* Centers any column regardless of width or float. */
.col-centered{
    float: none;
    margin: 0 auto;
}

.text-align-center {
    text-align: center;
}

/* Fixing a bug where form error messages were right aligned. */
.form-horizontal .control-label {
    text-align: left;
}
