.container > .navbar {
    margin-top: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-size: 1.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 20px;
}


/* Cards for columns in problems.show. */
.left-card {
    /*border-right: 1px dashed #ccc;*/
}
.right-card {
    padding-top: 20px;
}

hr.dashed {
    border-top: 1px dashed #ccc;
}
