<h1>User {{ @user->username }}</h1>
<p><b>Points:</b>&nbsp;{{ number_format(@user->points, 1) }}</p>
<p><b>Rank:</b>&nbsp;{{ @userRank }}</p>
<p><b>Attempted Problems:</b></p>
<ul>
    <repeat group="{{ @problemsAttempted }}" value="{{ @attempt }}">
        <li>
            <a href="/problems/{{ @attempt['problem_slug'] }}">
                {{ @attempt['problem_name'] }}
            </a>
            &nbsp;
            (&nbsp;<a href="/submissions/{{ @attempt['submission_id'] }}">
                {{ number_format(@attempt['best_submission_points'], 1) }} / {{ number_format(@attempt['problem_points'], 1) }}
            </a>&nbsp;)
        </li>
    </repeat>
</ul>
