<h1>All Problems</h1>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Slug</th>
            <th>Points</th>
            <th>Users</th>
		</tr>
	</thead>
	<tbody>
		<repeat group="{{ @problems }}" value="{{ @problem }}">
			<tr>
                <td><a href="{{ 'problemsShow', 'slug=' . rawurlencode(@problem['slug']) | alias }}">{{ @problem['name'] }}</a></td>
				<td>{{ @problem['slug'] }}</td>
				<td>{{ @problem['points'] }}</td>
                <td>{{ @problem['userCount'] }}</td>
			</tr>
		</repeat>
	</tbody>
</table>
