<div id="problem-body">
	{{ \Markdown::instance()->convert(@problem->body) }}
</div>
<a href="{{ 'problemsSubmit', 'slug=' . rawurlencode(@problem->slug) | alias }}">submit</a>
<a href="{{ 'problemsAllSubmissions', 'slug=' . rawurlencode(@problem->slug) | alias }}">all submissions</a>
<a href="{{ 'problemsBestSubmissions', 'slug=' . rawurlencode(@problem->slug) | alias }}">best submissions</a>
<check if="{{ @SESSION.user }}">
    <a href="{{ 'problemsYourSubmissions', 'slug=' . rawurlencode(@problem->slug) | alias }}">your submissions</a>
</check>
