<form action="/submit" method="POST">
	<include href="partials/csrf.html" />
	<div>
		<label for="problem">Problem:</label>
		<select id="problem" name="problemSlug">
			<repeat group="{{ @problems }}" value="{{ @problem }}">
				<option value="{{ @problem->slug }}" <check if="{{ @problem->slug == $_GET['problem-slug'] }}">selected</check>>{{ @problem->name }}</option>
			</repeat>
		</select>
	</div>
	<div>
		<label for="language">Language:</label>
		<select id="language" name="languageId">
			<repeat group="{{ @languages }}" value="{{ @language }}">
				<option value="{{ @language->id }}">{{ @language->name.' ('.@language->version.')' }}</option>
			</repeat>
		</select>
	</div>
	<div>
		<label for="solution" name="solution">Solution:</label>
		<input type="file" id="solution">
	</div>
	<div>
		<button type="submit">Submit</button>
		<button type="reset">Reset</button>
	</div>
</form>
