<p>Problem: <a href="{{ '/problems/'.@problem['slug'] }}">{{ @problem['name'] }}</a></p>
<p>User: {{ @SESSION.user.username }}</p>
<p>Submission: {{ @submission->id }}</p>
<p>Verdict: {{ @verdicts[@submission->verdict_id-1]->name }}<p/>
<repeat group="{{ @subtask_results }}" value="{{ @subtask_result }}">
	<p>Subtask {{ @subtask_result['id'] }}:</p>
	<ul>
		<repeat group="{{ @subtask_result['testcase_results'] }}" value="{{ @testcase_result }}">
			<li>Testcase {{ @testcase_result['id'] }}: {{ @verdicts[@testcase_result['verdict_id']-1]->code }}</li>
		</repeat>
	</ul>
</repeat>
