<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Lumen Bootstrap Theme CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css">

        <link rel="stylesheet" href="{{ @BASE }}/ui/{{ @THEME }}/css/custom-styles.css" />

        <title>{{ @title }} - Skirmish Online Judge</title>

		<repeat group="{{ @headPartials }}" value="{{ @partial }}">
			<include href="{{ @partial }}" />
		</repeat>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ 'home' | alias }}">Skirmish Online Judge</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="{{ @navbarItemClasses['problems'] }}"><a href="{{ 'problemsIndex' | alias }}">Problems</a></li>
                            <li class="{{ @navbarItemClasses['submissions'] }}"><a href="{{ 'submissionsIndex' | alias }}">Submissions</a></li>
                            <li class="{{ @navbarItemClasses['users'] }}"><a href="{{ 'usersLeaderboard' | alias }}">Leaderboard</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <check if="{{ @SESSION.user }}">
                                <true>
                                    <li class="{{ @navbarItemClasses['logout'] }}"><a href="{{ 'usersLogout' | alias }}">Logout</a></li>
                                </true>
                                <false>
                                    <li class="{{ @navbarItemClasses['login'] }}"><a href="{{ 'usersLogin' | alias }}">Login</a></li>
                                    <li class="{{ @navbarItemClasses['register'] }}"><a href="{{ 'usersRegister' | alias }}">Register</a></li>
                                </false>
                            </check>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid">
                <check if="{{ @content }}">
                    <include href="{{ @content }}" />
                </check>
            </div>

        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">{{ Base::instance()->format('Page rendered in {0} ms using {1} kb', round(1e3*(microtime(TRUE)-$TIME), 2), round(memory_get_usage(TRUE)/1e3, 1)); }}.</p>
            </div>
        </footer>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<repeat group="{{ @bodyPartials }}" value="{{ @partial }}">
			<include href="{{ @partial }}" />
		</repeat>

    </body>
</html>
