<form action="/submit" method="POST" enctype="multipart/form-data">
    <include href="{{ @THEME . '/views/partials/csrf.html' }}" />
	<div>
		<label for="problem">Problem:</label>
		<select id="problem" name="problemId">
			<repeat group="{{ @problems }}" value="{{ @problem }}">
				<option value="{{ @problem->id }}" <check if="{{ @problem->id == $_GET['problem'] }}">selected</check>>{{ @problem->name }}</option>
			</repeat>
		</select>
	</div>
	<div>
		<label for="language">Language:</label>
		<select id="language" name="languageId">
			<repeat group="{{ @languages }}" value="{{ @language }}">
				<option value="{{ @language->id }}">{{ @language->name . ' (' . @language->version . ')' }}</option>
			</repeat>
		</select>
	</div>
	<div>
		<label for="solution">Solution:</label>
		<input type="file" id="solution" name="solution">
	</div>
	<div>
		<button type="submit">Submit</button>
		<button type="reset">Reset</button>
	</div>
</form>
