<h1>Submission #{{ @submission->id }}</h1>
<p><b>Problem:</b> <a href="{{ '/problems/'.@problem['slug'] }}">{{ @problem['name'] }}</a></p>
<p><b>User:</b> <a href="/users/{{ @user['username'] }}">{{ @user['username'] }}</a></p>
<p><b>Points:</b> {{ @submission->points }}</p>
<p><b>Verdict:</b> {{ @verdicts[@submission->verdict_id-1]->name }}<p/>
<p><b>Time:</b> {{ @submission->time }}</p>

<check if="{{ isset(@compiler_message) }}">
    <p><b>Compiler Messages:</b></p>
    <pre><code>{{ @compiler_message }}</code></pre>
</check>

<p><b>Results:</b></p>
<repeat group="{{ @subtask_results }}" value="{{ @subtask_result }}">
	<p>Subtask {{ @subtask_result['id'] }}:</p>
	<ul>
		<repeat group="{{ @subtask_result['testcase_results'] }}" value="{{ @testcase_result }}">
			<li>Testcase {{ @testcase_result['id'] }}: {{ @verdicts[@testcase_result['verdict_id']-1]->code }}</li>
		</repeat>
	</ul>
</repeat>

<check if="{{ @canViewCode }}">
<true>
    <p><b>Code:</b></p>
    <pre><code>{{ @submission->code }}</code></pre>
</true>
</check>
